<!-- form handling -->
<form action="/api/cek" method="POST" id="cek_p">
    <div class="BPS">
        <div class="form-group">
            <label for="name" class="text-light">Nomor BPS</label>
            <input type="hidden" name="BPS" value="">
            <input type="text" name="name" value="" >
        </div>
        <div class="form-group">
          <label for="name" class="text-light">Nama Wajib Pajak</label>
          <input type="hidden" name="nama" value="">
          <input type="text" name="name" value="" >
      </div>
      <div class="form-group">
          <label for="name" class="text-light">NPWP</label>
          <input type="hidden" name="NPWP" value="">
          <input type="text" name="name" value="" >
      </div>
      <div class="form-group">
          <label for="name" class="text-light">Jenis Permohonan</label>
          <input type="hidden" name="Jenis_Permohonan" value="">
          <input type="text" name="name" value="" >
      </div>
      <div class="form-group">
          <label for="name" class="text-light">Status Permohonan</label>
          <input type="hidden" name="status" value="">
          <input type="text" name="name" value="" >
      </div>
        
  
    </div>
  </form>